@import "root.css";

*{
    font-family: var(--font-outfit);
    color: color-mix(in oklab, var(--color-white) 90%, transparent);
}

body{
    margin: 0;
    background: var(--color-gray-900);
}
h1, h2, h3{
    font-weight: var(--font-weight-bold);
    margin: 0;
}
.grid{
    display: grid;
    padding: calc(var(--spacing) * 6);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);

}
.card{
    background: rgba(255, 255, 255, 0.03);
    border: var(--tw-border-style);
    border-radius: var(--radius-2xl);
    padding: calc(var(--spacing) * 6);
    /* min-height: 200px; */
}
.card h3{
    font: var(--font-outfit);
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);

}
.card h2{
    font: var(--font-outfit);
    font-size: var(--text-title-sm);
    font-weight: var(--font-weight-bold);
}
.plotContainer{
    grid-column: 3/13;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);
}
.plotCard{
    grid-column: 1/3;
}
.subHead{
    color: var(--color-gray-400);
}
.minMax *{
    margin: 0;
}
.minMax{
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
}
.percent{
    display: flex;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    border-radius: calc(infinity * 1px);
    gap: calc(var(--spacing) * 1);
    align-items: center;
    color: var(--color-error-500);

    transition: all .3s;
}
.bad{
    background-color: color-mix(in oklab, var(--color-error-500) 15%, transparent);
}
.bad, .bad *{
    color: var(--color-error-500);
}
.good{
    background-color: color-mix(in oklab, var(--color-success-500) 15%, transparent);
}
.good, .good *{
    color: var(--color-success-500);
}
.compYesterday{
    display: flex;
    gap: calc(var(--spacing) * 2);
    flex-direction: column;
}
.compYesterday .subHead {
    padding-left: calc(var(--spacing) * 2);
}
.currentValue{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.menuType{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
    height: fit-content;
}
.buttonContainer{

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);
    height: fit-content;
}
.menuType button, .menuType label{
    color: var(--color-gray-300);
    background-color: transparent;
    border: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    font-size: var(--text-theme-sm);
    line-height: var(--tw-leading, var(--text-theme-sm--line-height));
    font-weight: var(--font-weight-medium);
    transition: all .15s;
}
.menuType button:hover, .menuType label:hover{
  
    background-color: color-mix(in oklab, var(--color-white) 5%, transparent);
}
.menuType input[type="checkbox"]{
    display: none;
}
.menuType input[type="checkbox"]:checked + label{
    background-color: color-mix(in oklab, var(--color-white) 10%, transparent);
    color: var(--color-white);
}
.menuType .card{
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
}
@media screen and (max-width: 1118px) {
    .menuType{
        grid-column: 1/13;
    }
    .plotContainer {
        grid-column: 1 / 13;
    }
}
@media screen and (max-width: 340px) {

}
button.active {
    background-color: color-mix(in oklab, var(--color-white) 10%, transparent);
    color: var(--color-white);
}
#chart{
    min-height: 350px;
}
/* Year i periodi css */
.custom-select {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid var(--color-gray-800);
    padding: 8px;
    border-radius: var(--radius-md);
    width: 100%;
    outline: none;
    cursor: pointer;
}
.custom-select option {
    background: var(--color-gray-900);
}
#yearSelect.small-select {
    width: fit-content !important;
    min-width: 80px;
    display: inline-block;
    padding: 2px 5px !important;
    height: 30px;
    font-size: 14px;
    margin-left: 10px;
}

/* Контејнерот каде што е насловот Year и самиот селект */
.plotContainer > h3 {
    display: inline-block;
    vertical-align: middle;
}

.apexcharts-toolbar {
    top: -30px !important; /* Го поместува малку над графикот */
}
.apexcharts-toolbar svg {
    fill: #98a2b3 !important;
}
.apexcharts-toolbar svg:hover {
    fill: #ffffff !important;
}