@import "root.css";

*{
    font-family: var(--font-outfit);
    color: color-mix(in oklab, var(--color-white) 90%, transparent);
}

body{
     margin: 0;
     background: var(--color-gray-900);
}
h1, h2, h3{
    font-weight: var(--font-weight-bold);
    margin: 0;
}
.grid{
    display: grid;
    padding: calc(var(--spacing) * 6);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);

}
.card{
    background: rgba(255, 255, 255, 0.03);
    border: var(--tw-border-style);
    border-radius: var(--radius-2xl);
    padding: calc(var(--spacing) * 6);
    /* min-height: 200px; */
}
.card h3{
    font: var(--font-outfit);
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
   
}
.card h2{
    font: var(--font-outfit);
    font-size: var(--text-title-sm);
    font-weight: var(--font-weight-bold);
}
.plotContainer{
    grid-column: 3/13;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);
}
.plotCard{
    grid-column: 1/3;
}
.subHead{
    color: var(--color-gray-400);
}
.minMax *{
    margin: 0;
}
.minMax{
     display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
}
.percent{
    display: flex;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    border-radius: calc(infinity * 1px);
    gap: calc(var(--spacing) * 1);
    align-items: center;
    color: var(--color-error-500);
    
    transition: all .3s;
}
.bad{
            background-color: color-mix(in oklab, var(--color-error-500) 15%, transparent);
}
.bad, .bad *{
    color: var(--color-error-500);
}
.good{
    background-color: color-mix(in oklab, var(--color-success-500) 15%, transparent);
}
.good, .good *{
    color: var(--color-success-500);
}
.compYesterday{
    display: flex;
    gap: calc(var(--spacing) * 2);
    flex-direction: column;
}
.compYesterday .subHead {
    padding-left: calc(var(--spacing) * 2);
}
.currentValue{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.menuType{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 8);
    height: fit-content;
}
.buttonContainer{

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);
    height: fit-content;
}
.menuType button{
    color: var(--color-gray-300);
    background-color: transparent;
    border: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    font-size: var(--text-theme-sm);
    line-height: var(--tw-leading, var(--text-theme-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    transition: all .15s;
}
.menuType button:hover{
  
    background-color: color-mix(in oklab, var(--color-white) 5%, transparent);
}
@media screen and (max-width: 1118px) {
    .menuType{
        grid-column: 1/13;
    }
    .plotContainer {
        grid-column: 1 / 13;
    }
    
}
@media screen and (max-width: 420px) {
    .minMax{
            grid-column: 1/3;
        }
}