@import "root.css";

*{
    font-family: var(--font-outfit);
   transition: 
    color 0.1s ease,
    background 0.1s ease,
    background-color 0.1s ease;
}

body{
    margin: 0;
    background: var(--background-color); 
    color: color-mix(in oklab, var(--text-color) 90%, transparent);
}
h1, h2, h3{
    font-weight: var(--font-weight-bold);
    margin: 0;
}
.grid{
    display: grid;
    padding: calc(var(--spacing) * 6);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);

}
.card{
    background: var(--card-background);
    border: var(--tw-border-style);
    border-radius: var(--radius-2xl);
    padding: calc(var(--spacing) * 6);
    /* min-height: 200px; */
}
.card h3{
    font: var(--font-outfit);
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);

}
.card h2{
    font: var(--font-outfit);
    font-size: var(--text-title-sm);
    font-weight: var(--font-weight-bold);
}
.plotContainer{
    grid-column: 3/13;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);
}
.plotCard{
    grid-column: 1/3;
}
.subHead{
    color: var(--text-color-light-2);
}
.minMax *{
    margin: 0;
}
.minMax{
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
}
.percent{
    display: flex;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    border-radius: calc(infinity * 1px);
    gap: calc(var(--spacing) * 1);
    align-items: center;
    color: var(--color-error-500);

    transition: all .3s;
}
.bad{
    background-color: color-mix(in oklab, var(--color-error-500) 15%, transparent);
}
.bad, .bad *{
    color: var(--color-error-500);
}
.good{
    background-color: color-mix(in oklab, var(--color-success-500) 15%, transparent);
}
.good, .good *{
    color: var(--color-success-500);
}
.compYesterday{
    display: flex;
    gap: calc(var(--spacing) * 2);
    flex-direction: column;
}
.compYesterday .subHead {
    padding-left: calc(var(--spacing) * 2);
}
.currentValue{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.menuType{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
    height: fit-content;
}
.buttonContainer{

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);
    height: fit-content;
}
.menuType button, .menuType label{
    color: var(--text-color-light);
    background-color: transparent;
    border: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    font-size: var(--text-theme-sm);
    line-height: var(--tw-leading, var(--text-theme-sm--line-height));
    font-weight: var(--font-weight-medium);
    transition: all .15s;
    cursor: pointer;
}
.menuType button:hover, .menuType label:hover{
  
    background-color: color-mix(in oklab, var(--color-active) 5%, transparent);
}
.menuType input[type="checkbox"]{
    display: none;
}
.menuType input[type="checkbox"]:checked + label{
    background-color: color-mix(in oklab, var(--color-active) 10%, transparent);
    color: var(--color-active);
}
.menuType .card{
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
}
@media screen and (max-width: 1118px) {
    .menuType{
        grid-column: 1/13;
    }
    .plotContainer {
        grid-column: 1 / 13;
    }
}
@media screen and (max-width: 500px) {
    /* BITNO ZA RESPONZIVNOST*/
    .minMax{
        grid-column: 1 / 3;
    }
}
button.active {
    background-color: color-mix(in oklab, var(--color-active) 10%, transparent);
    color: var(--color-active);
}
#chart{
    min-height: 350px;
}
/* Year i periodi css */
.custom-select {
    background: var(--background-color);
    color: var(--text-color);
    border: var(--tw-border-style);
    border-radius: var(--radius-md);
    width: 100%;
    outline: none;
    cursor: pointer;
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    font-size: var(--text-theme-sm);
    line-height: var(--tw-leading, var(--text-theme-sm--line-height));
}
.custom-select option {
    background: var(--background-color);
}
/* #yearSelect.small-select {
    width: fit-content !important;
    min-width: 80px;
    display: inline-block;
    padding: 2px 5px !important;
    height: 30px;
    font-size: 14px;
    margin-left: 10px;
} */

/* Контејнерот каде што е насловот Year и самиот селект */
.plotContainer > h3 {
    display: inline-block;
    vertical-align: middle;
}

.apexcharts-toolbar {
    top: -30px !important; /* Го поместува малку над графикот */
}
.apexcharts-toolbar svg {
    fill: #98a2b3 !important;
}
.apexcharts-toolbar svg:hover {
    fill: #ffffff !important;
}

/* BITNO ZA STILOT NA KOPCINJATA ZA TIMEFRAME */
.filterCard{
    display: flex;
    grid-column: 1 / 3;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 3);
}
.timeframeContainer{
    display: flex;
    background-color: var(--color-type);
    padding: calc(var(--spacing) * 0.5);
    border-radius: var(--radius-lg);
    gap: calc(var(--spacing) * 0.5);
    align-items: center;
    max-width: fit-content;
}
.timeframeContainer input{
    display: none;
}
.timeframeContainer label{
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 3);
    border-radius: var(--radius-md);
    font-size: var(--text-theme-sm);
    line-height: var(--tw-leading, var(--text-theme-sm--line-height));
    width: max-content;
    color: var(--text-color-light-2);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    transition: all .3s;
}
.timeframeContainer input:checked + label{
    background-color: var(--color-type-text);
    color: var(--color-active);
    
}
#maxDiv, #minDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--spacing) * 3);
}
#maxDiv .values, #minDiv .values{
    display: flex;
    gap: calc(var(--spacing) * 3);
    flex-wrap: wrap;
    justify-content: end;
}
.minMaxInfo{
    display: flex;
    gap: calc(var(--spacing) * 1);
    background: rgba(255, 255, 255, 0.03);
    border: var(--tw-border-style);
    /* padding: calc(var(--spacing) * 1); */
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    border-radius: 20px;
    align-items: center;
    font-size: var(--text-sm);
}
.minMaxInfo::before{
    content: "";
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}
.minMaxInfo:nth-child(1)::before{
     background-color: var(--first);
}
.minMaxInfo:nth-child(2)::before{
     background-color: var(--second);
}
.minMaxInfo:nth-child(3)::before{
     background-color: var(--third);
}
#themeCheckBox{
    display: none;
}
.circleButton{
    width: calc(var(--spacing) * 11);
    height: calc(var(--spacing) * 11);
    border: var(--tw-border-style);
    border-radius: calc(infinity * 1px);
    background: var(--card-background);
    font-size: var(--text-lg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: calc(var(--spacing) * 6);;
}